// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
/*
 * Dashboard
 */

header {
  padding: 30px 0;
}

section {
  padding: 30px 0;
}

.has-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show > .dropdown-menu {
  display: block;
}

// button focus
:focus {
  outline: none !important;
}
button:focus {
  outline: none;
}

//iframe scroll disable  !!!!!
// ::-webkit-scrollbar {
//   display: block;
// }


// slick customize
.slick-track {
  margin-top: 15px !important;
}
.slick-prev, .slick-next {  
  z-index: 100 !important;
}
.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 25px !important;
}

.slick-dots {
  bottom: 33px !important;
  z-index: 100 !important;
}

.slick-dots li {
  width: 4.5vw !important;
  height: 10px !important;
  z-index: 99999;
}
.slick-dots li button {
  margin: auto;
}
.slick-dots li.slick-active button {
  background-color: rgba(255,255,255, .6) !important;
}

// Top Menu
.navbar-dark .navbar-toggler-icon {
  background-image: url(/img/a.png);
  width: 50px;
  height: 40px;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0,0,0,0);
}
.mobile-menu-bg{
  margin-left: auto;
}
@media (max-width: 991px) {
  .mobile-menu-bg {
    overflow-y: auto;
    max-height: 550px;
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      max-width: 320px;
      margin-left: auto;
      margin-top: 15px;
      position: relative;
      // background: linear-gradient(to right, rgb(181, 198, 52) 0%, rgb(169, 46, 145) 100%);
      border-radius: 27px;

  }
  .mobile-menu-bg{
    margin: 2px;
    background: white;
    border-radius: 25px;   
  }
  .navbar-collapse:after, .navbar-collapse:before {
    bottom: 99%;
    left: 92.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .navbar-collapse:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: white;
    border-width: 18px;
    margin-left: -32px;
  }
  .navbar-collapse:before {
    // border-color: rgba(194, 225, 245, 0);
    // border-bottom-color:rgb(169, 46, 145);
    // border-width: 20px;
    margin-left: -34px;
  }
}
@media (min-width: 992px) {
  .ContactMenu-topMenu-7 {
    color: white !important;
  }
  .ContactMenu-topMenu-50 {
    color: white !important;
  }
  .ContactMenu-topMenu-56 {
    color: white !important;
  }
  .ContactMenu-topMenu-62 {
    color: white !important;
  }
  .ContactMenu-topMenu-68 {
    color: white !important;
  }
}

@media(max-width: 340px) {
  .WithTheme-WithWidth-Footer---gridContainer-80 {
    margin-top: 90px !important;
  }
}


.bg-dark {
  background-color: black !important;
}

.fa-chevron-circle-up:before {
  content: "" !important;
}

