select, svg {
    color: white !important;
}
option {
    background: white !important;
    color: black !important;
    background-image:url(/img/icons/flag/uk.png) !important;
}
:focus {
    outline: none !important;
}